configuration {
	modi:                       "drun,window";
    show-icons:                 false;
    display-drun:               "Apps";
    display-window:             "Windows";
	drun-display-format:        "{name}";
	window-format:              "{c}:::{t}";
}

* {
    background:     #32302FFF;
    background-alt: #32302FFF;
    foreground:     #D4BE98; 
    selected:       #FABD2FFF;     
    active:         #B8BB26FF;
    urgent:         #B8BB26FF;
}

* {
    font: "DepartureMono Nerd Font 11";
}

window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       1000px;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                @selected;
    cursor:                      "default";
    background-color:            @background;
}

mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    orientation:                 horizontal;
    children:                    [ "imagebox", "listbox" ];
}

imagebox {
    padding:                     20px;
    background-color:            transparent;
    background-image:            url("~/.config/nushell/modules/nurofi/assets/knight.gif", width);
    orientation:                 vertical;
    children:                    [ "inputbar", "dummy", "mode-switcher" ];
}

listbox {
    spacing:                     20px;
    padding:                     20px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "message", "listview" ];
}

dummy {
    background-color:            transparent;
}

inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     15px;
    border-radius:               10px;
    background-color:            @background-alt;
    text-color:                  @foreground;
    children:                    [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "Search :::";
    background-color:            inherit;
    text-color:                  inherit;
}

entry {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "";
    placeholder-color:           inherit;
}

/*****----- Mode Switcher -----*****/
mode-switcher{
    enabled:                     true;
    spacing:                     20px;
    background-color:            transparent;
    text-color:                  @foreground;
}
button {
    padding:                     15px;
    border-radius:               10px;
    background-color:            @background-alt;
    text-color:                  inherit;
    cursor:                      pointer;
}
button selected {
    border:                      0px 2px 0px 2px;
    border-radius:               4px;
    background-color:            var(urgent);
    text-color:                  var(background);
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       7;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     10px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     10px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                @selected;
    background-color:            @background-alt;
    text-color:                  @foreground;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}
element normal.urgent {
    border:                      0px 2px 0px 2px;
    border-radius:               4px;
    background-color:            var(urgent);
    text-color:                  var(background);
}
element normal.active {
    border:                      0px 2px 0px 2px;
    border-radius:               4px;
    background-color:            var(active);
    text-color:                  var(background);
}
element selected.normal {
    border:                      0px 2px 0px 2px;
    border-radius:               4px;
    background-color:            var(selected);
    text-color:                  var(background);
}
element selected.urgent {
    border:                      0px 2px 0px 2px;
    border-radius:               4px;
    background-color:            var(urgent);
    text-color:                  var(background);
}
element selected.active {
    border:                      0px 2px 0px 2px;
    border-radius:               4px;
    background-color:            var(urgent);
    text-color:                  var(background);
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Message -----*****/
message {
    background-color:            transparent;
}
textbox {
    padding:                     15px;
    border-radius:               10px;
    background-color:            @background-alt;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
error-message {
    padding:                     15px;
    border-radius:               20px;
    background-color:            @background;
    text-color:                  @foreground;
}
